@namespace TicTacToe.Client.Components

@using System.Text
@using System.Net.Http.Headers

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation

<div class="content-wrapper">
    <h5>@(IsSignIn ? "Sign In" : "Sign Un")</h5>

    <div class="auth-form">
        <input type="text"
        @bind="model.Login"
        @bind:event="oninput"
        placeholder="Login"
        class="form-input" />

        <input type="text"
        @bind="model.Password"
        @bind:event="oninput"
        placeholder="Password"
        class="form-input" />
        @* <PasswordInput @bind-Value="model.Password" /> *@
    </div>

    <button class="main-btn"
            @onclick="@(IsSignIn ? SignInHandler : SignUpHandler)"
    disabled="@(!IsValid)"
    style="margin-top: 10px;">
        @(IsSignIn ? "Sign In" : "Sign Un")
    </button>
        
    <ErrorMessageComponent @bind-ErrorMessage="@errorMessage" />
    
</div>


@code {
    private JwtRequest model = new();
    private string? errorMessage;

    [Parameter] public bool IsSignIn { get; set; } = true;

    private bool IsValid => !string.IsNullOrWhiteSpace(model.Login)
        && !string.IsNullOrWhiteSpace(model.Password)
        && model.Login.Length >= 3
        && model.Password.Length >= 6;



    private async Task SignInHandler()
    {
        try
        { 
            var response = await Http.PostAsJsonAsync("/auth/authorization", model);            

            if (response.IsSuccessStatusCode)
            {
                var jwtResponse = await response.Content.ReadFromJsonAsync<JwtResponse>();

                if (jwtResponse is not null)
                {
                    await LocalStorage.SetItemAsync("accessToken", jwtResponse.AccessToken);
                    await LocalStorage.SetItemAsync("refreshToken", jwtResponse.RefreshToken);
                    Navigation.NavigateTo($"/user");                    
                } else
                {
                    errorMessage = "Connection problem";                    
                }
            }
            else
            {
                errorMessage = "Invalid login or password";
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }


    private async Task SignUpHandler()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("/auth/registration", model);

            if (response.IsSuccessStatusCode)
            {
                await SignInHandler();
            }
            else
            {
                errorMessage = await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}